* {
  box-sizing: border-box;
}

h3 {
  font-size: 30px;
  font-family: Old Standard TT, Arial, sans-serif;
  margin-bottom: 10px;
}

/* The base of every button */

.btn {
  display: inline-block;
  text-decoration: none;
  font-family: Questrial, Arial, sans-serif;
  text-align: center;
  color: black;
  font-size: 18px;
  line-height: 1.42857143;
  padding: 6px 12px;
  margin-bottom: 10px;
  border: 1px solid black;
  white-space: nowrap;
  vertical-align: middle;
}

.btn:hover {
  color: white;
  background-color: black;
  border-color: white;
  transition: background-color .25s ease-in-out;
}